body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.navs {
  background-color: transparent;
  height: 64px;
  transition: all 3s ease;
}
.navs.toggle {
  background: rgba(0, 0, 0, 0.5);

  backdrop-filter: grayscale(60%);
  box-shadow: 5px 6px 6px rgba(100, 100, 100, 100);
}
p {
  font-size: 16px;
}
/* mmmmmmmmmmmmmmmm luxury styling mmmmmmmmmmmmmmmm*/
.lux-wrapper {
  position: relative;
}
.lux {
  width: 400px;
  height: 100%;
}
.lux-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 96%;
  cursor: pointer;
  transition: 3s ease;
  opacity: 0;
}

.lux-text {
  color: white;
  margin: 20px;
}
.lux-cover:hover {
  opacity: 1;
}
/* mmmmmmmmmmmmmmmm Decor styling mmmmmmmmmmmmmmmm*/
.deco-wrapper {
  position: relative;
}
.deco {
  width: 100%;
  height: 100%;
}
.deco-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 96%;
  cursor: pointer;
  transition: 4s ease;
  opacity: 0;
}

.deco-text {
  color: white;
  margin: 20px;
}
.deco-cover:hover {
  opacity: 1;
}
/* mmmmmmmmmmmmmmmmmmmmmmmm explore styling mmmmmmmmmmmmmmmmmmmmm */
.exp-top {
  margin-top: 80px;
}

button.nav-link {
  color: black;
}

.nav-tabs .active {
  color: orange !important;
  border: none !important;
  outline: none;
}

/*mmmmmmmmmmmmmmmmmmmmmmmm styling overlay of the image in the tabs mmmmmmmmmmmmmmmmmmmm*/
.wrapper {
  position: relative;
  width: 50%;
}

.wrapper img {
  display: block;
  width: 400px;
  height: 176px;
}
.sub-wrapper {
  position: absolute;
  top: 0;
  bottom: 29%;
  left: 2%;
  right: 29%;
  width: 400px;
  height: 185px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.9s ease;
  transform: scale(0);
  cursor: pointer;
}
.wrapper:hover .sub-wrapper {
  transform: scale(1);
}
.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  text-align: center;
}
.text-wrapper > p {
  font-size: 23px;
}

.text-wrapper > button {
  border-radius: 0px;
}

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm sleep luxury read more button mmmmmmmmmmmmmmmmmmmmmmmmm*/
.more {
  display: none;
}
.moretext {
  display: none;
}
/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm sleep luxury positiions mmmmmmmmmmmmmmmmmmmmmmmmm*/
.cover {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 320px;
  padding-left: 30px !important;
  padding-top: 50px !important;
}

.coverAbsolute {
  position: absolute;
  top: 50%;
  left: 130%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.coverAbsolute img {
  width: 280px;
  height: 210px;
}

.contain {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 320px;
  right: 20%;
  padding-left: 30px !important;
  padding-top: 50px !important;
}

@media screen and (width: 1024px) {
  .contain {
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 320px;
    right: 9%;
    padding-left: 30px !important;
    padding-top: 50px !important;
  }
  .coverAbsolute {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
  }
}

/* medaia query */
@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    left: 0;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    align-items: center;
  }
  .contain {
    right: 0;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 50;
  }
  body {
    overflow-x: hidden;
  }
}

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm popular image gallery mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
.topPopular {
  margin-top: 8%;
}
.negative-margin {
  margin-right: -15%;
}
.centeredBtn {
  margin: auto;
}

@media screen and (width: 1440px) {
  .negative-margin {
    margin-right: -5%;
  }
  .bgColor {
    width: 100%;
  }
}

/* for small screens only */
@media screen and (max-width: 768px) {
  .negative-margin {
    margin-right: 0;
  }
  .imgSize {
    width: 400px;
    height: 450px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 390px;
  }
  /*mmmmmmmmmmmmmmmmmmmmmmm popular products mmmmmmmmmmmmmmmmm */
  /* second image */
  .positions {
    position: absolute;
    top: 83%;
  }
  /* last image */
  .post {
    position: absolute;
    top: 83%;
  }
  #center {
    margin-top: 25px;
  }
}

.relative {
  position: relative;
  width: 50%;
}

.position {
  position: absolute;
  bottom: 0;
}
/* second image */
.positions {
  position: absolute;
  bottom: 10%;
}
/* last image */
.post {
  position: absolute;
  bottom: 20%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
}

/* special packages */
.size {
  width: 190px;
  height: 240px;
}
.sizeImg {
  width: 180px;
  height: 200px;
}

.coverOverlay {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 190px;
  height: 209px;
}

/* mmmmmmmmmmmmmmmmmmmmmmm discount order styling mmmmmmmmmmmmmmmmmmmmmm*/
.bgColor {
  height: 330px;
  background: rgba(21, 21, 53, 0.918);
  width: 100vw;
}

label {
  color: white;
  font-size: 20px;
}
.labelInput {
  outline: none;
  border: none;
  height: 40px;
  width: 100px;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
}
.labelInputs {
  outline: none;
  border: none;
  height: 40px;
  width: 140px;
  color: white;
  font-size: 16px;
  background: transparent;
  border-bottom: 2px solid white;
}
input {
  caret-color: red;
}
.postCover {
  position: relative;
}
.posts {
  position: absolute;
  top: -15%;
  left: 0%;
  width: 470px;
  height: 400px;
}
@media screen and (width: 1024px) {
  .posts {
    position: absolute;
    top: -15%;
    left: 0;
    width: 400px;
    height: 400px;
  }
  .bgColor {
    width: 100%;
  }
}

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm image gallerymmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
@media screen and (min-width: 1440px) {
  .fixed {
    width: 510px;
  }
  .negative-margin {
    margin-right: -11%;
  }
  .bgColor {
    width: 100%;
  }
}

@media screen and (width: 768px) {
  .mdScreen {
    width: 700px;
  }
  .mdScreenSub {
    width: 392px;
  }
  .mdScreenSubs {
    width: 300px;
  }
  .bgColor {
    width: 100% !important;
  }
}
@media screen and (max-width: 660px) {
  .mdScreen {
    width: 390px;
  }
  .mdScreenSub {
    width: 240px;
  }
  .mdScreenSubs {
    width: 140px;
  }
}

/* mmmmmmmmmmmmmmmmmmmmmmmm 
footer section 
mmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
@media screen and (max-width: 768px) {
  .topPopular {
    margin-top: 20%;
  }
}

hr {
  color: orange;
  margin-top: 3%;
}

/* carousel custom styling */
.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  vertical-align: middle;

  cursor: pointer;
  font-weight: bold;
  color: orange;
  margin-top: -2px;
  padding: 16px;
  border-radius: 60%;
  font-size: 22px;
}
.next {
  right: 0;
}
.top {
  margin-top: 10%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  margin: 0 5px;
  transition: background-color 0.6s ease;
}
.actives,
.dot:hover {
  background-color: orange;
}
#imgs {
  margin-left: 20px;
  border: 2px solid orange;
}
#text {
  font-size: 18px;
}
